In [11]:
# jupyter notebook --NotebookApp.iopub_data_rate_limit=1.0e10

import pandas as pd
df = pd.read_csv("datos_nomivac_covid19.csv")
df = pd.read_csv("datos_nomivac_covid19.csv",sep=";",engine="python")print(df)
print(list(df.columns))
print(list(df.index))
print(df['grupo_etario'])
df.loc[0:1000]
df.loc[[1,5,8]]
dfConIndiceDNI = df.set_index('DNI')
df['sexo'].value_counts()
df_2 = df.drop_duplicates()
df.dropna(inplace=True)
df.to_csv("nuevo.csv")

,sexo,grupo_etario,jurisdiccion_residencia,jurisdiccion_residencia_id,depto_residencia,depto_residencia_id,jurisdiccion_aplicacion,jurisdiccion_aplicacion_id,depto_aplicacion,depto_aplicacion_id,fecha_aplicacion,vacuna,condicion_aplicacion,orden_dosis,lote_vacuna
1,F,30-39,Córdoba,14,Capital,14,Córdoba,14,Capital,14,2021-03-03,Sinopharm,Riesgo,1,2021010039
5,M,50-59,Corrientes,18,Sauce,175,Corrientes,18,Sauce,175,2021-02-23,COVISHIELD,Estratégico,1,4120Z023
8,M,60-69,Córdoba,14,Capital,14,Córdoba,14,Capital,14,2021-04-09,Sputnik,>60,1,I-340321